h2 {
    margin-bottom: 20px;
  }
  
  .container {
    .row {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
  
      .col-md-4 {
        flex: 0 0 calc(33.333% - 10px); // Adjust as needed
        margin-bottom: 20px;
      }
    }
  
    .card {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
    }
  
    .card-footer {
      margin-top: auto; // Pushes the footer to the bottom of the card
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  
    .btn-danger {
      margin-left: auto; // Moves the delete button to the right
    }
  }
  